langchain
langgraph
langchain-core
langchain-community
ipykernel
python-dotenv
langchain_openai
langchain_groq
bs4
arxiv
wikipedia
langgraph-cli[inmems]
langchain-huggingface 
sentence-transformers
faiss-cpu
langchain
python-dotenv
ipykernel
langchain_community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openAI
chromadb
langchain-community
langchain-ollama
sentence_transformers
langchain_huggingface
faiss-cpu
chromadb
langchain_chroma
beautifulsoup4
streamlit
ollama
langchain_groq
langchain_core
fastapi
uvicorn
langserve
sse_starlette
tavily-python
streamlit